<body>
    <div class="login-container">
      <div class="log-container"><img class="logo" src="../../assets/app-logo.png"></div>
      <form id="login-form" onsubmit="">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="password">Confirm Password</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="google-login">
          <button type="submit" id="google-login-btn">Sign Up</button>
        </div>
      </form>
      <div class="newAccount"><span>Already have account?</span><span><a href="/login">Login</a></span></div>
      <div class="newAccount">Sign In with</div>
      <div class="signInOptions"><span><img class="google-img" src="../../assets/fb.png"></span><span><img class="google-img" src="../../assets/google-logo.png"></span></div>
      
  
    </div>
  
  </body>
  