<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span ><img class="logo" src="../../assets/app-logo1.png"></span>
      <span class="fill-remaining-space"></span>
      <mat-tab-group>
        <mat-tab label="About"></mat-tab>
        <mat-tab label="Help"></mat-tab>
        
      </mat-tab-group>
      <button type="button" class="btn btn-outline-primary" routerLink="login">Login</button>
      <button type="button" class="btn btn-outline-secondary" routerLink="sign-up">Sign Up</button>
    </mat-toolbar-row>
    
  </mat-toolbar>
  